*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$box-height: 23px;
$light-hover: #9b9b9b;

.nc-fields-box {
    overflow: hidden;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 1px 2px 5px #000;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    width: 100%;

    &__field-wrapper {
        display: inline-block;

        &:not(:last-of-type) {
            position: relative;
            margin-right: 8px;

            &::after {
                content: '/';
                color: gray;
                vertical-align: middle;
                position: absolute;
                top: 55%;
                right: -6px;
                transform: translateY(-50%);
            }
        }

        .nc-field {
            font-family: monospace;
            display: block;
            border: none;
            min-height: $box-height;
            font-size: 2ch;
            user-select: none;
            appearance: none;

            &--year {
                text-align: center;
                max-width: 50px;
                &:focus {
                    outline: none;
                }
            }

            &--date,
            &--month {
                text-align: center;
                max-width: 30px;
                &:focus {
                    outline: none;
                }
            }
        }
    }

    &__toggle-button {
        position: relative;
        cursor: pointer;
        display: block;
        border: 1px solid #dfdfdf;
        position: absolute;
        border: none;
        border-radius: 0;
        top: 1px;
        right: 1px;
        bottom: 1px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 40px;

        &::before {
            content: '';
            display: block;
            width: 25px;
            height: 25px;
            background-image: url('../images/calendar.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.nc-dropdown {
    display: block;
    padding: 6px;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 5px #000;
    border: 1px solid #dfdfdf;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    .nc-controls-container {
        display: flex;
        justify-content: space-between;

        > * {
            &:not(:first-child) {
                margin-left: 5px;
            }
        }
    }
    .nc-date-picker-wrapper,
    .nc-month-picker-wrapper {
        padding-top: 6px;
    }
    .nc-month-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .nc-list {
        grid-template-columns: repeat(7, 1fr);
    }
    .nc-month-list,
    .nc-list {
        list-style: none;
        display: grid;
        text-transform: capitalize;
    }
    .nc-cell {
        padding: 1px;
    }
    .nc-month-cell {
        padding: 5px 1px;
    }
    .nc-cell,
    .nc-month-cell {
        margin: 1px;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        text-align: center;
        border-radius: 4px;
        font-size: 15px;
        transition: background-color 0.1s linear, border-color 0.1s linear;
    }
    .nc-clickable:hover {
        background-color: $light-hover;
        border-color: $light-hover;
        color: #fff;
        cursor: pointer;
    }
    .nc-prev-month-button,
    .nc-next-month-button,
    .nc-month-button,
    .nc-year-button {
        cursor: pointer;
        padding: 5px;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #e1e1e1;
    }
    .nc-month-button,
    .nc-year-button {
        flex-grow: 1;
        border: unset;
    }

    .nc-today-date {
        border-color: #bbbbbb;
    }

    .prev-date,
    .next-date {
        background-color: #e1e1e1;
        color: #535353;
        border: 2px solid #e1e1e1;
    }

    .disabled-date {
        opacity: 0.5;
    }

    .nc-date-active,
    .nc-month-active {
        background-color: #613efa;
        color: #ffffff;
        border-color: #613efa;
    }
    .nc-prev-month-button,
    .nc-next-month-button {
        position: relative;
        width: 26px;
        height: 26px;
    }

    .nc-prev-month-button::before,
    .nc-next-month-button::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        top: 6px;
        left: 6px;
        background-size: contain;
        background-position: center;
    }

    .nc-prev-month-button::before {
        background-image: url('../images/left-arrow.png');
    }
    .nc-next-month-button::before {
        background-image: url('../images/right-arrow.png');
    }
}
