*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background-color: #535353;
}
:root {
  --box-height: 23px;
}
.ndp-root-container {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 280px;
  font-family: sans-serif;
}

.ndp-dropdown {
  display: none;
}
.ndp-show-dropdown {
  display: block;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 2px 5px #000;
  border: 1px solid #dfdfdf;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
}

.ndp-controls-container {
  display: flex;
  justify-content: space-between;
}
.ndp-controls-container > *:not(:first-child) {
  margin-left: 5px;
}
.ndp-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-transform: capitalize;
}

.ndp-cell {
  margin: 1px;
  padding: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
}

.ndp-clickable:hover {
  background: #535353;
  border-color: #535353;
  color: #ffffff;
  cursor: pointer;
}

.ndp-prev-month-button,
.ndp-next-month-button,
.ndp-month-button,
.ndp-year-button,
.ndp-edit-button {
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
}
.ndp-month-button,
.ndp-year-button {
  flex-grow: 1;
  border: unset;
}

.ndp-today-date {
  border-color: #bbbbbb;
}

.prev-date,
.next-date {
  background-color: #e1e1e1;
  color: #535353;
  border: 2px solid #e1e1e1;
}

.ndp-date-active {
  background-color: #3d11ff;
  color: #ffffff;
  border-color: #3d11ff;
}
.ndp-prev-month-button,
.ndp-next-month-button,
.ndp-edit-button {
  position: relative;
  width: 26px;
  height: 26px;
}

.ndp-prev-month-button::before,
.ndp-next-month-button::before,
.ndp-edit-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 6px;
  left: 6px;
  background-size: contain;
  background-position: center;
}

.ndp-prev-month-button::before {
  background-image: url("../assets/images/left-arrow.png");
}
.ndp-next-month-button::before {
  background-image: url("../assets/images/rigth-arrow.png");
}
.ndp-edit-button::before {
  background-image: url("../assets/images/edit.png");
}

.ndp-input-box {
  overflow: hidden;
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: 1px 2px 5px #000;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  width: 100%;
}
.ndp-input-wrapper {
  display: inline-block;
}
.ndp-input-element {
  display: block;
  border: none;
  min-height: var(--box-height);
}
.ndp-input-element:focus {
  outline: none;
}
.ndp-input-wrapper:not(:last-of-type) {
  position: relative;
  margin-right: 8px;
}
.ndp-input-wrapper:not(:last-of-type)::after {
  content: "/";
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}
.ndp-input-year{
  max-width: 30px;
}

.ndp-input-date,
.ndp-input-month {
  max-width: 15px;
}

.ndp-toggle-button {
  position: relative;
  cursor: pointer;
  display: block;
  border: 1px solid #dfdfdf;
  position: absolute;
  border: none;
  border-radius: 0;
  top: 1px;
  right: 1px;
  bottom: 1px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 40px;
}
.ndp-toggle-button::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/images/calendar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}